<template>
  <div class="<%=data.lowerName %>">
    <h1>{{ message }}</h1>
  </div>
</template>

<script>
  export default {
    name: '<%=data.name %>',
    props: {
      msg: String
    },
    components: {},
    mixins: [],
    data() {
      return {
        message: '<%=data.lowerName %>'
      }
    },
    created() {},
    mounted() {}
  }
</script>

<style scoped></style>
